body {
  background-color: #c1ffc1;
  margin: auto;
  font-family: serif;
}

.description{
  padding: 3%;
}

.margin-around{
  margin:2% ;
}

#input,
#ExchangeRate,
#cryptoInput {
  font-size: 25px;
  padding: 10px;
  padding-bottom: 25px;
  padding-top: 25px;
  border-radius: 10px;
  background-color: #c1ffc1;
}

#input:hover,
#ExchangeRate:hover,
#cryptoInput:hover,
#news:hover,
#main:hover {
  box-shadow: 0px 0px 10px 10px #8fbc8f;
}

.container{
  margin-top: 3%;
}

#main {
  height: 760px;
  border: 5px solid #698b69;
  border-radius: 10px;
  background-color: #698b69;
  padding-bottom: 40px;
  display: block;
  margin-bottom: 5px;
}

#header{
  width: 100%;
  text-align: center;
  background-image: url(images/rainingmoney.gif); 
  padding: 10px 0;
  color: black;
  top: 0;
 
}

#footer {
  width: 100%;
  text-align: center;
  color: black;
  bottom: 0;
  padding: 5%;
  border-radius: 10px;
  padding-bottom: 40px;
  display: block;
  text-align: center;
}

#button {
  padding: 2%;
  margin-left: 35%;
  margin-top: 10%;
  box-shadow: 0 8px 16px 0, 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-radius: 10px;
  font-size: 100%;
}

#optionCrypto,
#crypto {
  display: inline-block;
}

#numberOfCrypto,
#amount {
  display: inline-block;
}

#typeCurrency,
#inputCurrency {
  display: inline-block;
}

#optionCurrency,
#currency {
  display: inline-block;
}


#amount,
#fromCurrency,
#toCurrency {
  padding: 5px;
  margin-left: 5px;
}

#news {
  height: 760px;
  background-color: #698b69;
  padding-top: 20px;
  padding-bottom: 30px;
  border-radius: 10px;
  font-size: 25px;
  text-align: center;
  display: flex;
  flex-direction: column;
}

#newsLinks {
  height: 80%;  
  padding-bottom: 5px;
}

#newsLinks a {
  text-decoration: none;
  color: black;
}

#newsLinks ul {
  padding: 0;
  margin: 0;
}

#newsLinks ul li {
  font-size: 70%;
  text-align: left;
  margin: 10%;
  list-style: none;
}

#newsLinks li:before {
  content: "💡 ";
}

#newsLinks a:hover {
  color: white;
}

#newsBottom {
  margin-top: 1rem;
  display: flex;
  justify-content: center;
}

#btn_prev,
#page,
#btn_next {
  display: inline-block;
  margin: 10%;
  font-size: 60%;
  border-radius: 10px;
}



